<div class="container">
    <form>
      <h1>Вход в учётную запись</h1>

      <div class="reg-inputs">
        <input type="email" placeholder="Введите логин...">
        <input type="password" placeholder="Пароль...">
      </div>
      
      <div class="action-menu">
        <div class="checkbox">
            <input type="checkbox" />
            <span>Запомнить меня</span>
        </div>
        <a href="#">Регистрация</a>
      </div>

      <h2>Авторизироваться через сервисы</h2>
      <div class="social-buttons">
        <img src="../../../assets/icon/ic_google.png">
        <img src="../../../assets/icon/ic_facebook.png">
      </div>
      <button>Войти</button>
    </form>
</div>



<!-- <div class="content">
  <form>
    <span id="form-title">Вход в учётную запись</span>

    <input class="field" type="email" placeholder="Логин...">
    <input class="field" type="password" placeholder="Пароль...">

    <div class="buttons">
      <label for="label-remember-me">
        <input type="checkbox" id="label-remember-me" />
        <span>Запомнить меня</span>
      </label>
      <input id="button-registration" type="button" value="Регистрация">
    </div>

    <span id="authorize-via-services-title">Авторизироваться через сервисы</span>

    <div class="social-buttons"></div>

    <input type="button" id="button-login" value="Войти">
  </form>
</div> -->
