<div class="container">
    <form>
      <h1>Вход в учётную запись</h1>

      <div class="reg-inputs">
        <input [(ngModel)]="username" id="username" type="email" name="username" placeholder="Введите логин...">
        <input [(ngModel)]="password" id="password" type="password" name="password" placeholder="Пароль...">
      </div>
      
      <div class="action-menu">
        <div class="checkbox">
            <input type="checkbox" />
            <span>Запомнить меня</span>
        </div>
        <a href="#">Регистрация</a>
      </div>

      <h2>Авторизироваться через сервисы</h2>
      <div class="social-buttons">
        <img src="../../../assets/icon/ic_google.png">
        <img src="../../../assets/icon/ic_facebook.png">
      </div>
      <button (click)="login()">Войти</button>
    </form>
</div>
