

<div class="container">
  <div class="header">
    <div>Данные покупателя:</div>
    <div>Общая сумма:</div>
  </div>

  <div class="main">
    <div class="item-image">
      <img src="http://pngimg.com/uploads/boots/boots_PNG7800.png" alt="альтернативный текст">
    </div>
    <div class="item-info">
      <div>Название товара:</div>
      <div>Количество:</div>
    </div>
  </div>
</div>



<!--<div class="container">-->
  <!--<div class="modal-body">-->
    <!--<div>-->
      <!--<span>Данные покупателя:</span>-->
      <!--<div>-->
        <!--<div>-->
          <!--<span>Общая сумма:</span>-->

    <!--<div class="modal-body">-->
      <!--<div>-->
        <!--<div class="form-group">-->
          <!--<img src="http://pngimg.com/uploads/boots/boots_PNG7800.png" alt="альтернативный текст">-->
          <!--<div>-->
            <!--<span>Название товара:</span>-->
            <!--<span>Количество:</span>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->
  <!--</div>-->
