<div class="container">
  <div class="header">
    <div ><p>Данные покупателя: {{order.order.delivery}}</p></div>
    <div><p>Общая сумма: {{order.extended.sum}}</p></div>
  </div>

  <div class="main" *ngFor="let product of order.extended.items">
    <div class="item-image">
      <img [src]="product.image" alt="альтернативный текст">
    </div>
    <div class="item-info">
      <div><span>Название товара: {{product.name}}</span></div>
      <div><span>Количество: {{product.quantity}}</span></div>
    </div>
  </div>
</div>
