<div class="container">
  <div class="item-list">
    <div class="item">
      <div class="item-img">
          <img src="../../../assets/icon/ic_google.png">
      </div>
      <div class="description">
        <div class="top-section">
            <h1>Fking shlem</h1>
            <a><img src="../../../assets/icon/delete.png"></a>
        </div>
        <button class="more-info">Подробней о товаре</button>

        <!-- Jquery code is here https://foundation.zurb.com/building-blocks/blocks/plus-minus-input.html -->
        <div class="plus-minus-input">
            <div class="input-group-button">
              <button type="button" data-quantity="minus" data-field="quantity">
                -
              </button>
            </div>

            <input class="input-group-field" type="number" name="quantity" value="1">

            <div class="input-group-button">
              <button type="button" data-quantity="plus" data-field="quantity">
                +
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
<div>