primary-dark-color = #4E4E4E
primary-grey-color = #F5F5F5

primary-color = #FFFFFF
accent-color = #FFFFFF

primary-text-color = #B00000
secondary-text-color = primary-dark-color

.button
  padding 0px 0px 0px 425px
  margin auto
  button

    background: primary-text-color
    border: none
    padding: 5px 30px
    color: white;
    font-family SecondaryColumbia
    font-size: 18px
    cursor: pointer
    outline: none
