<div class="container">
  <h1>{{name}}</h1>
  <div class="content">
      <div class="image-area">
        <img [src]="image">
      </div>
      <div class="action-area">
          <span>{{description}}</span>
          <button (click)="addToCart()" ><img src="../../../assets/icon/ic_cart.png" /><span>Добавить в корзину</span></button>
      </div>
  </div>

  <article>
    <h2>О товаре</h2>
    <p>fuck this shit fuck this shitfuck this shit fuck this shit fuck this shit fuck this shit fuck this shit</p>
  </article>
</div>
