<div class="container">

  <div class="menu">
    <ul class="ul-main" >
      <div class="text"><u>Categories</u></div>
      <li (click)=retrieveProducts()>All</li>
      <li *ngFor="let category of categories" (click)=onCategoryChanged(category)>
        <a>{{category.name}}</a>
      </li>
    </ul>
  </div>
  <div class="items-wrapper">
    <div class="box"  *ngFor="let product of products">
      <p><img src="{{product.image}}" ></p>
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
        <p class="price">{{product.price}}$</p>
        <button>КУПИТЬ</button>
    </div>

  </div>
</div>

