<div class="container">

  <div class="menu">
    <ul class="ul-main">
      <li>
        <a href="">Запчасти</a>
        <ul class="ul-sub">
          <li><a href="">-Глушители</a></li>
          <li><a href="">-Глушители</a></li>
          <li><a href="">-Глушители</a></li>
          <li><a href="">-Глушители</a></li>
          <li><a href="">-Глушители</a></li>
          <li><a href="">-Глушители</a></li>
          <li><a href="">-Глушители</a></li>
        </ul>
      </li>
      <li>
        <a href="">Экипировка</a>
        <ul class="ul-sub">
            <li><a href="">-Мотошлемы</a></li>
            <li><a href="">-Мотошлемы</a></li>
            <li><a href="">-Мотошлемы</a></li>
            <li><a href="">-Мотошлемы</a></li>
            <li><a href="">-Мотошлемы</a></li>
            <li><a href="">-Мотошлемы</a></li>
            <li><a href="">-Мотошлемы</a></li>
          </ul>
      </li>
    </ul>
  </div>
  <div class="items-wrapper">
    <div class="box">
        <img src="../../../assets/icon/ic_google.png" alt="">
        <h1>FUCKING SHLEM</h1>
        <p>100$</p>
        <button>КУПИТЬ</button>
    </div>
    <div class="box">
        <img src="../../../assets/icon/ic_google.png" alt="">
        <h1>FUCKING SHLEM</h1>
        <p>100$</p>
        <button>КУПИТЬ</button>
    </div>
    <div class="box">
        <img src="../../../assets/icon/ic_google.png" alt="">
        <h1>FUCKING SHLEM</h1>
        <p>100$</p>
        <button>КУПИТЬ</button>
    </div>
    <div class="box">
        <img src="../../../assets/icon/ic_google.png" alt="">
        <h1>FUCKING SHLEM</h1>
        <p>100$</p>
        <button>КУПИТЬ</button>
    </div>
    <div class="box">
        <img src="../../../assets/icon/ic_google.png" alt="">
        <h1>FUCKING SHLEM</h1>
        <p>100$</p>
        <button>КУПИТЬ</button>
    </div>
   
  </div>
</div>

