<div class="container">

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <img [src]="object.image">
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название товара</label>
        <input [(ngModel)]="object.name" name="name" type="text" class="form-control" id="recipient-name">
        <label for="recipient-name" class="col-form-label">Цена товара</label>
        <input [(ngModel)]="object.price" name="price" type="text" class="form-control" id="recipient-price">
      </div>
      <p>Выберите категорию</p>
      <select [(ngModel)]="object.category" class="select" name="category">
        <option *ngFor="let category of categories" [value]="category._id" >
          {{category.name}}
        </option>
      </select>

      <div class="form-group">
        <label for="message-text" class="col-form-label">Описание товара</label>
        <textarea [(ngModel)]="object.description" name="description" class="form-control" id="message-text"></textarea>
      </div>
      <input [(ngModel)]="object.image" type="url" name="url" id="url"  placeholder="https://urlphoto"
             pattern="https://.*" size="30"
             required>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmitClick()">Удалить</button>
    <button type="button" class="btn btn-primary" (click)="onSubmitClick()">Подтвердить</button>
  </div>

</div>
