<div class="content">
  <form>
    <span id="form-title">Вход в учётную запись</span>

    <input class="field" type="email" placeholder="Логин...">
    <input class="field" type="password" placeholder="Пароль...">

    <div class="buttons">
      <label for="label-remember-me">
        <input type="checkbox" id="label-remember-me" />
        <span>Запомнить меня</span>
      </label>
      <input id="button-registration" type="button" value="Регистрация">
    </div>

    <span id="authorize-via-services-title">Авторизироваться через сервисы</span>

    <div class="social-buttons"></div>

    <input type="button" id="button-login" value="Войти">
  </form>
</div>
