<div class="app">

  <div class="header"></div>

  <div class="body-element">
    <div class="body-background">
      <div class="body-header">
        <img src="../assets/image/motoracer.png"/>
      </div>
    </div>
    <div class="body-foreground">

      <div class="app-header">
        <span class="title">Moto World</span>
        <span class="sub-title">Интернет магазин мототехники</span>
        <div class="opportunities-tab"></div>
      </div>
      <div class="content-block">
        <app-authorization></app-authorization>
      </div>

    </div>
  </div>

  <div class="footer"></div>

</div>

<router-outlet></router-outlet>
