<div class="container">
    <form>
      <h1>Создание нового аккаунта</h1>

      <div class="reg-inputs">
        <input type="email" placeholder="Введите E-mail">
        <input type="password" placeholder="Пароль...">
      </div>
      
      <div class="action-menu">
        <div class="checkbox">
            <input type="checkbox" />
            <span>Согласен на рассылку от сотруднков MotoWorld</span>
        </div>
      </div>
      
      <button>Подтвердить</button>
    </form>
</div>