primary-dark-color = #4E4E4E
primary-grey-color = #F5F5F5

primary-color = #FFFFFF
accent-color = #FFFFFF

primary-text-color = #B00000
secondary-text-color = primary-dark-color


.container
    max-width: 500px
    margin: auto
    background: primary-grey-color
    text-align: center
    padding: 50px
    input
        margin-top 8px
        margin-bottom 8px
        border-style solid
        border-color #999999
        border-width 3px
        background #EAEAEA
        padding 6px 3px
        font-size 0.9em
        font-family SecondaryColumbia
        &::placeholder
            color:black
    .reg-inputs
        display:flex
        flex-direction: column
        
    .action-menu
        display: flex
        justify-content: space-between
        a
            text-decoration: none;
            color: black
        .checkbox
            input
                border-color #999999
                border-width 3px
    h2
        margin:0
    button
        padding: 5px 50px
        margin-top: 30px
        background: primary-text-color
        font-family SecondaryColumbia
        font-size 1.9em
        color: white
        border: none
        outline: none

