<div class="container">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Укажите свои данные</h4>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">First Name</label>
        <input type="text" [(ngModel)]="userInfo.firstName" name="name" class="form-control"  id="recipient-name">
        <label for="recipient-name" class="col-form-label">Last Name</label>
        <input type="text" [(ngModel)]="userInfo.lastName" name="name" class="form-control"  id="recipient-name">
        <label for="recipient-name" class="col-form-label">Address</label>
        <input type="text" [(ngModel)]="userInfo.address" name="name" class="form-control"  id="recipient-name">
        <span>Total Price: {{price}}$</span>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" (click)="submit()" class="btn btn-primary">Подтвердить</button>
  </div>
</div>
