<div class="container">
  <h1>О мотосалоне MOTOWORLD</h1>
  <p>Свою деятельность компания"MOTOWORLD" начала в 2011 году и на сегодняшний день уверенно развивается и занимает
    лидирующие позиции на украинском рынке. Некоторые говорят, что мы молоды, но – это наш козырь!
  </p>
  <p>Мы – современны, энергичны, квалифицированы! Многие сотрудники работали в крупных мотосалонах и мотомастерских.
    Данный опыт позволяет им с уверенностью смотреть в будущее. Специализация компании - оптовая и розничная торговля
    скутерами, мотоциклами, квадроциклами и другой мототехникой. Деятельность "MOTOWORLD" направлена на постоянное
    расширение товара высшего качества, а тесное сотрудничество с иностранными поставщиками позволяет предложить
    покупателям широчайший ассортимент мототехники.</p>
  <p>Мы предоставим все документы, необходимые для регистрации в ГАИ
    Каждая покупка транспортного средства сопровождается выдачей справки-счета для регистрации мототехники в МРЭО. Вся
    мототехника, представленная в нашем интернет-магазине и в мотосалонах Киева, ввезена в Украину официально и снабжена
    полным пакетом документов для регистрации в МРЭО.
  </p>
  <p>Гарантия на технику
    На всю новую технику, представленную в нашем интернет-магазине, а также мотосалонах Киева, предоставляется гарантия
    1 год или 6000 км пробега. Мы владеем собственным СТО (ремонтным комплексом) по обслуживанию техники, это даёт нам
    возможность обеспечить высочайший сервис нашим покупателям. Наши специалисты проведут полную диагностику
    выставленной на продажутехники.

    Мы проводим не только гарантийное, но и постгарантийное обслуживание. Наша компания в полной мере обеспечивает
    расходными материалами и запасными частями на все продаваемые модели.
  </p>
  <p>Мы продаём мототехнику в кредит
    Любой новый мотоцикл, скутер, квадроцикл, мопед, электровелосипед у нас можно приобрести в кредит, который
    предоставляет наш партнёр - OTP Bank. Для получения кредита не обязательно приезжать к нам в магазин, а является
    достаточным заполнение заявки на нашем сайте или связь с нами по телефонам, указанным на сайте. Конечно, самым
    простым является такой способ - заполнить заявку на сайте и в ближайшее время представитель банка свяжется с Вами
    для уточнения деталей.

    Кредит выдается людям, возраст которых 21 - 70 лет, период кредитования - от 3-х месяцев до 2-х лет, с возможностью
    досрочного погашения. 3. Мы продаем только качественную технику
  </p>
  <img src="../assets/image/shop.png" title="Фото нашего магазина">

</div>
