primary-dark-color = #4E4E4E
primary-grey-color = #F5F5F5

primary-color = #FFFFFF
accent-color = #FFFFFF

primary-text-color = #B00000
secondary-text-color = primary-dark-color

.container
    max-width: 1070px
    margin: auto;
    background: #F5F5F5
    padding: 15px;
    margin-bottom: 30px;
    h1
        font-size: 20px
        color: primary-text-color
    p
        font-size: 16px
        font-family: SecondaryColumbia